{% extends 'base.html' %}
{% load static %} 
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    {% load static %}
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <!-- Imagen (opcional) -->
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Bienvenido de nuevo!</h1>
                                        </div>

                                        <!-- Formulario de inicio de sesión -->
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" name="username" id="username" class="form-control form-control-user"
                                                    placeholder="Ingresa tu usuario" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" class="form-control form-control-user"
                                                    placeholder="Contraseña" required>
                                            </div>

                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-danger text-center">{{ message }}</div>
                                                {% endfor %}
                                            {% endif %}

                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Iniciar sesión
                                            </button>
                                        </form>

                                        <hr>

                                        <div class="text-center">
                                            <a class="small" href="{% url 'register' %}">¿No tienes una cuenta? ¡Regístrate aquí!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        {% include 'footer.html' %}
    </body>


{% endblock %}
